     :root {
        background-color: #121212;
        color: #ffffff;

        font-family: 'Montserrat', sans-serif;
    }

    .page-content-background-design {
        background-color: #ffffff30;
        border-color: #ffffff30;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 2px 2px 4px#000000;
        margin-top: 25px;
    }

    .article-after-one {
        margin-top: 15px;
    }

    #div-with-bottom-margin {
        margin-bottom: 25px;
    }

    button {
        background-color: #E01F32;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
    
        height: 40px;
        width: 150px;
    
        margin: 1vw;

        border-color: none;
        border-radius: 5px;
        border-color: #E01F32;

    }

    .flexbox-items {
        display: flex;
    }

    .flexbox-sidebar {
        visibility: hidden;
        width: 0%;
    }

    .page-content-flex {
        width: 100%;
    }



    .header-flexbox-items {
        display: flex;
        height: 100px;

        align-items: center;
    }

    .logo-flex {
        justify-content: flex-start;
    }

    #mobile-menu-button {
        position: absolute;
        right: 1vw;
    }

    .footer-flexbox-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .host-info {
        align-items: flex-end;
    }

    .navigation-desktop {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    #footer-paragraph {
        font-size: 2vh;
        color: #ffffff25;
    }
    #alter-ego {
        font-family: 'Lobster', cursive;
        font-size: 42px;

        margin-right: 5vw;
    }
    
    #discord-logo-svg {
        height: 7vh;
    }

    #discord-wordmark-svg {
        height: 7vh;
    }

    #github-logo-circle {
        height: 7vh;
    }

    #github-logo-text {
        height: 7vh;
    }


