   /* General styles */

    :root {

        --bgColor: #121212;

        --darkGray: rgb(64,60,60);
        --mainColor:  #E01F32;
        --secondaryColor: #F5978E;

        background-color: var(--bgColor, black);
        color: #ffffff;

        font-family: 'Montserrat', sans-serif;
    }

    main {
        animation: on-page-load-content-fade 300ms ease-in forwards;
        min-height: 75vh;
    }

    hr {
        
        box-shadow: 2px 2px 4px black;
    }

    h1 {
        font-size: 32px;
        text-align: center;
    }

    h2 {
        font-size: 22px;
        text-align: center;
    }

    p {
       line-height: 25px;
       text-align: center;
    }

    button {
        background-color: var(--mainColor, red);
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
    
        height: 40px;
        width: 150px;
    
        margin-left: 25px;

        border-color: none;
        border-radius: 5px;
        border-color: var(--mainColor, red);

        cursor: pointer;

    }

    button:hover {
        animation-name: on-hover-enlargement;
        animation-duration: 200ms;
        animation-fill-mode: forwards;
    }

    button:focus {
        background-color: var(--secondaryColor, pink);
        color: #000000;

        height: 40px;
        width: 150px;
    
        border-radius: 5px;
        border-color: var(--secondaryColor, pink);

        cursor: pointer;
        
    }

    .page-content {
        display: flex;
    }

    .article {
        width: 60%;
    }

    .flexbox-sidebar {
        width: 20%;
    }

    .article-background-design {
        background-color: var(--darkGray, gray);
        border-color: var(--darkGray, gray);
        border-radius: 5px;
        padding: 20px;
        box-shadow: 2px 2px 4px#000000;
        margin-top: 25px;
    }

    .article-after-one {
        margin-top: 15px;
    }

    #div-with-bottom-margin {
        margin-bottom: 25px;
    }
    
    
    /* Page header CSS */


    .page-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navigation-mobile {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }

    #signature {
        font-family: 'Lobster', cursive;
        font-size: 42px;

        margin: 0px 15px 0px 10px;

        cursor: default;
    }


    /* Page footer CSS */


    .page-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer-paragraph {
        font-size: 2vh;
        color: #ffffff25;
    }
    
    #github-logo-circle, #github-logo-text{
        height: 48px;
        text-align: center;
    }


    /* Mobile menu */

    .mobile-menu {
        opacity: 0;
        width: 0px;
        height: 0px;
    }


    /* Animations */


    @keyframes on-hover-enlargement {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1.15);
        }
    }

    @keyframes on-page-load-content-fade {
        0% {
            opacity: 0;
            
        }
        100% {
            opacity: 1;
            
        }
    }